.nav-main{
    background-color: rgb(3, 3, 33);
    color: white;
    height: 70px;
    position: sticky;
}
.logo-img{
    height: 90px;
    width: 150px;
}
.searchbox-select{
    background-color: rgb(241, 238, 238);
    padding: 10px 5px;
    color: gray;
    border-radius: 5px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border: none;
    outline: none;
}
.searchbox-input{
    width: 500px;
    padding: 9.5px 5px;

    color: gray;
    border: none;
    outline: none;
}
.searchbox-icon{
    background-color: orange;
    color: black;
    padding:14px 15px;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    cursor: pointer;
}
.item-main-language{
    color: white;
}
.signin-para{
    font-size: 14px;
    font-weight: bold;
}
.signin-box span{
    font-size: 13;
}
.signin-select{
    background-color: rgb(3, 3, 33) ;
    color: white;
    font-weight: bold;
}
.section2-main{
    background-color: rgb(3, 3, 33) ;
    color: white;
    cursor: pointer;

}

.section3-image-box img{
    height: 400px;
    width: 100%;

}
.box-container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-container-background{
   
    height: 160%;
}
.box-container-boxes{
    width: 23%;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0 0 10px lightgray;
}
.offer-text{
    font-size: 14px;
   
}
.conatiner-image{
    width: 46%;

    margin-bottom: 40px;
}
.box-container-background-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.box-container-boxes img{
    width: 100%;
    height: 90%;

}
.text-primary{
    cursor: pointer;
}
.box-img{
    height: 70%;

}
/*MODAL STARTS */
.modal-body-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-textbox{
    margin:auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgrey;
    border: none;
    outline: none;
    padding: 8px 10px;
}
.input-checkbox{
    font-size: 14px;
    width: 250px;
}
/*MODAL ENDS*/
.signup{
    cursor: pointer;
}
.bottom-signin{
    background-color: orange;
    background: linear-gradient(orange,rgb(240, 214, 147),orange,orange);
    border: none;
    outline: none;
    width: 250px;
    border-radius: 4px;
    padding: 7px 5px;
    
}
 .follow i:hover{
	color:rgb(243, 60, 230);
	
	cursor: pointer;
}
.contact-box {
    padding: 10px 100px;
    background-color: rgb(11, 11, 106);
    
}
.contact-box div{
   
    width: 32%;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:white;
    cursor: pointer;
   
}
.bottom-footer-language{
    border: 1px solid white;
    padding: 7px 5px;
    color: white;
    border-radius: 4px;
}
.bottom-footer-language select{
    background: transparent;
    color: white;
    outline: none;
    border: none;
    

}